= provide :title, 'Events'
= provide :description, ''
= provide :keywords, ''
= provide :ld_json, {}

%section#content
  .container
    .row
      .col-md-12

        .row
          - @events.each do |event|
            .col-md-12
              .panel.panel-default
                .panel-body
                  %h3{class: 'bold'}
                    = link_to event.name, community_event_path(event)
                  %p= truncate(event.description, length: 145)
