%footer
  .container
    .row
      .col-md-12{class: 'text-center'}

    .row
      .col-md-12{class: 'text-center'}
        %ul{class: 'list-unstyled list-inline'}
          %li
            = link_to 'https://github.com/' do
              %i{class: 'fa-brands fa-github'}
          %li
            = link_to 'https://youtube.com/' do
              %i{class: 'fa-brands fa-youtube'}
          %li
            = link_to 'https://facebook.com/' do
              %i{class: 'fa-brands fa-facebook'}
          %li
            = link_to 'https://instagram.com/' do
              %i{class: 'fa-brands fa-instagram'}
          %li
            = link_to 'https://discord.com/' do
              %i{class: 'fa-brands fa-discord'}
